{% extends "base_layout.html" %}
{% block body %}
<div class="page-header">
  <h2>Add Device</h2>
</div>
<form method="post" name="add_device" action="">
  {{ form.hidden_tag() }}
  {% if not form.name.errors %}
  <div class="form-group">
  {% else %}
  <div class="form-group has-error">
  {% endif %}
    <label class="control-label" for="name">Full Name</label>
    {{ form.name(class="form-control", placeholder="Full Name", type="text") }}
  </div>
  {% if not form.onyen.errors %}
  <div class="form-group">
  {% else %}
  <div class="form-group has-error">
  {% endif %}
    <label class="control-label" for="onyen">Onyen</label>
    {{ form.onyen(class="form-control", placeholder="Onyen ", type="text") }}
  </div>
  {% if not form.email.errors %}
  <div class="form-group">
  {% else %}
  <div class="form-group has-error">
  {% endif %}
    <label class="control-label" for="email">Email address</label>
    {{ form.email(class="form-control", placeholder="Email", type="email") }}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
