<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- handmade stylesheet to override when necessary -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body onunload="">
    <div class="container">

      <nav class="navbar navbar-default">
	<div class="container-fluid">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">HTSF Transport</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	      <li><a href="/pickup">Pick Up</a></li>
	      <li><a href="/dropoff">Drop Off</a></li>
              <!-- <li class="dropdown"> -->
	      <!-- 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pick Up <span class="caret"></span></a> -->
	      <!-- 	<ul class="dropdown-menu"> -->
	      <!-- 	  <li><a href="/pickup">GSB</a></li> -->
	      <!-- 	  <li><a href="/futuredev">CCC</a></li> -->
	      <!-- 	</ul> -->
              <!-- </li> -->
              <!-- <li class="dropdown"> -->
	      <!-- 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Drop Off <span class="caret"></span></a> -->
	      <!-- 	<ul class="dropdown-menu"> -->
	      <!-- 	  <li><a href="/futuredev">GSB</a></li> -->
	      <!-- 	  <li><a href="/dropoff">CCC</a></li> -->
	      <!-- 	</ul> -->
              <!-- </li> -->
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><a href="https://htsflimsdevweb.med.unc.edu">Clarity Dev</a></li>
		  <li><a href="https://mps-mssql.its.unc.edu/DevTracSeq">TracSeq Dev</a></li>
		</ul>
              </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
      </nav>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
