{% extends "base_layout.html" %}
{% block body %}
<div class="page-header">
  <h2>Drop off Material:</h2>
</div>

<form method="post" name="available_material" action="{{ url_for('confirm') }}">
  <div class="btn-group-vertical" data-toggle="buttons">
    {% for transfer in data %}
    <label class="btn btn-default active">
      <input type="checkbox" name="transfer_id" value="{{ transfer.get('id') }}" autocomplete="off" checked />Transaction #: {{ transfer.get('id') }}
    </label>
    {% endfor %}
  </div>
  <div class="page-header">
    <h3>Notes</h3>
  </div>
  <input type="text-area" name="notes" class="form-control" placeholder="Notes on this transfer." />
  <div class="page-header">
    <h3>Submission</h3>
  </div>
  <p>
    <input type="submit" class="btn btn-default" value="Drop Off Material">
    <a href="/" class="btn btn-warning">Cancel Drop Off</a>
  </p>
</form>
{% endblock %}
