{% extends "base_layout.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}

{% if current_transfers %}
<div class="page-header">
  <h3>MODIFY</h3>
</div>
{% for ct in current_transfers %}
<p>
  {% if ct.get('items') | length == 1 %}
  <a class="btn btn-lg btn-warning" href="/modify/{{ ct.id }}" role="button">{{ ct.get('items') | length  }} item | Transaction id: {{ ct.id }}</a>
  {% else %}
  <a class="btn btn-lg btn-warning" href="/modify/{{ ct.id }}" role="button">{{ ct.get('items') | length  }} items | Transaction id: {{ ct.id }}</a>
  {% endif %}
</p>
{% endfor %}
{% else %}
<div class="page-header">
  <h3>Pick Up</h3>
</div>
<p>
  <a class="btn btn-lg btn-default" href="/pickup" role="button">GSB</a>
</p>
{% endif %} 

<div class="page-header">
  <h3>Drop Off</h3>
</div>
<p>
  <a class="btn btn-lg btn-default" href="/dropoff" role="button">CCC</a>
</p>
{% endblock %}
