{% extends "base_layout.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning" role="alert">
  {{ message }}
</div>
{% endfor %}

<form method="post" name="update_manifest" action="/modconfirm">
  <div class="page-header">
    <h2>Modify Current Manifest</h2>
  </div>
  
  <div class="btn-group-vertical" data-toggle="buttons">
    {% for transfer_item in transfer_items %}
    <label class="btn btn-default active">
      <input name="{{ transfer_item.tracseq_id }}" value="{{ transfer_item.id }}" type="checkbox" autocomplete="off" checked />{{ transfer_item.tracseq_id }}
    </label>
    {% endfor %}
  </div>
  
  
  <div class="page-header">
    <h3>Add Material to Trip</h3>
  </div>
  {% if data.get('data') %}
  <div class="btn-group-vertical" data-toggle="buttons">
    {% for datum in data.get('data') %}
    <label class="btn btn-default">
      <input name="1{{ datum.id }}" value="{{ datum.pool }}" type="checkbox" autocomplete="off" />{{ datum.pool }}
    </label>
    {% endfor %}
  </div>
  {% else %}
  <p>No additional material available!</p>
  {% endif %}
  
  <div class="page-header">
    <h3>Submission</h3>
  </div>
  <p>
    <input type="hidden" name="transfer_id" value="{{ transfer_id }}" />
    <input type="submit" class="btn btn-default" value="Update Manifest" />
    <a href="/" class="btn btn-warning">Cancel Modification</a>
  </p>
</form>

<div class="page-header">
  <h3>Danger</h3>
</div>
<form method="post" name="cancel_transfer" action="/cancel/{{ transfer_id }}">
  <input type="submit" class="btn btn-danger" value="Cancel Transfer" />
</form>

{% endblock %}
